.MUI_Badge_Wrapper {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.MUI_Badge_Root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  align-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  min-width: 20px;
  line-height: 1;
  height: 20px;
  z-index: 1;
  top: 0px;
  right: 0px;
  transform: scale(1) translate(50%, -50%);
  transform-origin: 100% 0%;
  padding: 0px 6px;
  border-radius: 10px;
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgb(var(--bg-primary));
  color: rgba(var(--bg-main), 0.87);
}
.MUI_Badge_Root:is(._dot) {
  height: 8px;
  width: 8px;
  min-width: 8px;
  border-radius: 4px;
  padding: 0px;
}

.MUI_Badge_Root:is(._top-left) {
  top: 0px;
  left: 0px;
  transform: scale(1) translate(-50%, -50%);
  transform-origin: 0% 0%;
}
.MUI_Badge_Root:is(._top-left._dot) {
  top: 0px;
  left: 0px;
  transform: scale(1) translate(-50%, -50%);
  transform-origin: 0% 0%;
  padding: 0px;
}

.MUI_Badge_Root:is(._top-right) {
  top: 0px;
  right: 0px;
  transform: scale(1) translate(50%, -50%);
  transform-origin: 100% 0%;
}
.MUI_Badge_Root:is(._circular._top-right) {
  top: 14%;
  right: 14%;
}

.MUI_Badge_Root:is(._bottom-left) {
  bottom: 0px;
  left: 0px;
  transform: scale(1) translate(-50%, 50%);
  transform-origin: 0% 100%;
}
.MUI_Badge_Root:is(._bottom-left._dot) {
  transform: scale(1) translate(-50%, 120%);
}
.MUI_Badge_Root:is(._circular._bottom-left) {
  bottom: 14%;
  left: 14%;
}

.MUI_Badge_Root:is(._bottom-right) {
  bottom: 0px;
  right: 0px;
  transform: scale(1) translate(50%, 50%);
  transform-origin: 100% 100%;
}
.MUI_Badge_Root:is(._bottom-right._dot) {
  transform: scale(1) translate(50%, 120%);
}
.MUI_Badge_Root:is(._circular._bottom-right) {
  bottom: 14%;
  right: 14%;
}

.MUI_Badge_Root:is(._invisible) {
  transform: scale(0) translate(50%, -50%);
}
.MUI_Badge_Root:is(._secondary) {
  background-color: rgb(var(--bg-secondary));
}
.MUI_Badge_Root:is(._error) {
  background-color: rgb(var(--bg-error));
}
.MUI_Badge_Root:is(._warning) {
  background-color: rgb(var(--bg-warning));
}
.MUI_Badge_Root:is(._success) {
  background-color: rgb(var(--bg-success));
}

.MUI_Badge_Wrapper > svg {
  fill: rgb(var(--text-main));
}
