.MUI_IconButton_Root {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  cursor: pointer;
  margin: 0px;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-align: center;
  flex: 0 0 auto;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 50%;
  min-width: 24px;
  min-height: 24px;
  color: rgba(var(--color-override, var(--text-main)), 0.6);
  width: fit-content;
  height: fit-content;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  overflow: hidden;
  &:is(._small) {
    font-size: 1.125rem;
  }
  &:is(._large) {
    font-size: 1.75rem;
  }
}
.MUI_IconButton_Root:hover {
  background-color: rgba(var(--color-override, var(--bg-primary)), 0.08);
}
.MUI_IconButton_Root:is(._small) {
  transform: scale(1);
}
.MUI_IconButton_Root:is(._medium) {
  transform: scale(1.3);
}
.MUI_IconButton_Root:is(._large) {
  transform: scale(1.6);
}
.MUI_IconButton_Root:is(._primary) {
  color: rgb(var(--color-override, var(--text-primary)));
}
.MUI_IconButton_Root:is(._primary):hover {
  background-color: rgba(var(--bg-primary), 0.1);
}
.MUI_IconButton_Root:is(._secondary) {
  color: rgb(var(--color-override, var(--text-secondary)));
}
.MUI_IconButton_Root:is(._secondary):hover {
  background-color: rgba(var(--bg-secondary), 0.1);
}
.MUI_IconButton_Root:is(._error) {
  color: rgb(var(--text-error));
}
.MUI_IconButton_Root:is(._error):hover {
  background-color: rgba(var(--bg-error), 0.1);
}
.MUI_IconButton_Root:is(._warning) {
  color: rgb(var(--text-warning));
}
.MUI_IconButton_Root:is(._warning):hover {
  background-color: rgba(var(--bg-warning), 0.1);
}

.MUI_IconButton_Root:disabled {
  pointer-events: none;
  cursor: default;
  color: rgba(var(--text-main), 0.3);
}
.MUI_IconButton_Root:disabled:hover {
  background-color: inherit;
}

.MUI_IconButton_Root svg {
  fill: currentColor;
  cursor: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: inherit;
}
.MUI_IconButton_Root input {
  cursor: inherit;
}
