.MUI_TextField_Input {
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
  border: 0px;
  box-sizing: content-box;
  height: 1.4375em;
  margin: 0px;
  display: block;
  min-width: 0px;
  width: 100%;
  animation-name: mui-auto-fill-cancel;
  animation-duration: 10ms;
  cursor: inherit;
}
.MUI_TextField_Input_outlined {
  background: inherit;
  padding: 16.5px 14px;
  -webkit-text-fill-color: var(--text-primary);
}
.MUI_TextField_Input_outlined:focus {
  outline: 0px;
}
.MUI_TextField_Input_filled {
  background: none;
  --webkit-tap-highlight-color: transparent;
  padding: 25px 12px 8px;
}
.MUI_TextField_Input_filled:before {
  border-bottom: 1px solid rgb(var(--bg-primary));
  left: 0;
  bottom: 0;
  content: "\00a0";
  position: absolute;
  right: 0;
  --webkit-transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1)
    0ms;
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  pointer-events: none;
}
.MUI_TextField_Input_filled:after {
  border-bottom: 2px solid rgb(var(--bg-primary));
  left: 0;
  bottom: 0;
  content: "\00a0";
  position: absolute;
  right: 0;
  --webkit-transform: scaleX(0);
  --moz-transform: scaleX(0);
  --ms-transform: scaleX(0);
  transform: scaleX(0);
  --webkit-transition: -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  pointer-events: none;
}
.MUI_TextField_Input_standard {
  padding: 4px 0px 5px;
  background: none;
  --webkit-tap-highlight-color: transparent;
}

.MUI_TextField_Input_filled:focus {
  outline: 0px;
}
.MUI_TextField_Input_standard:focus {
  outline: 0px;
}
.MUI_TextField_Input_outlined:disabled {
  -webkit-text-fill-color: none;
}
.MUI_TextField_TextArea {
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
  outline: none;
  border: none;
  box-sizing: content-box;
  background: none;
  height: auto;
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0px;
  min-height: 23px;
  width: 100%;
  padding: 0px;
  overflow: hidden;
}
.MUI_TextField_TextArea:focus {
  outline: none;
}
div:has(> .MUI_TextField_TextArea) {
  padding: 16.5px 14px;
}
