:root {
  interpolate-size: allow-keywords;
}

.MUI_light {
}

.MUI_List_Root {
  position: relative;
  list-style: none;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.MUI_ListItem_Root {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  padding: 8px 16px;
}
._disabled-padding > .MUI_ListItem_Root,
.MUI_ListItem_Root._disabled-padding {
  padding: 0px;
  padding-left: 8px;
}

.MUI_ListItemButton_Root {
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  color: inherit;
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  min-width: 0px;
  box-sizing: border-box;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  outline: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  margin: 0px;
  border-radius: 0px;
  text-decoration: none;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &.pseudo_selected,
  &:focus {
    text-decoration: none;
    background-color: rgba(var(--text-main), 0.08);
  }
  &._selected {
    background-color: rgba(var(--bg-primary-light), 0.08);
    &:hover {
      background-color: rgba(var(--bg-primary-light), 0.12);
    }
  }
  & svg {
    fill: rgba(var(--text-main), 0.6);
  }
}

.MUI_ListItemIcon_Root {
  min-width: 56px;
  color: rgba(var(--text-main), var(--theme-opacity));
  flex-shrink: 0;
  display: inline-flex;
  & svg {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    fill: currentColor;
    font-size: 1.5rem;
  }
}

.MUI_ListItemText_Root {
  flex: 1 1 auto;
  min-width: 0px;
  margin-top: 6px;
  margin-bottom: 6px;
  &._inset {
    padding-left: 56px;
  }
  &._disabled-gutters {
    padding-left: 0px;
  }
}

.MUI_ListItemText_Primary {
  margin: 0px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

._dense .MUI_ListItemText_Primary {
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

.MUI_ListItemText_Secondary {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: rgba(var(--text-main), 0.65);
}

.MUI_ListItem_SecondaryAction {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.MUI_ListItem_Avatar_Root {
  min-width: 56px;
  flex-shrink: 0;
  color: rgb(189, 189, 189);
}
.MUI_light .MUI_ListItem_Avatar_Root svg {
  color: white;
}

.MUI_dark .MUI_ListItem_Avatar_Root svg {
  color: black;
}

.MUI_ListItem_SubHeader_Root {
  box-sizing: border-box;
  line-height: 48px;
  list-style: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  padding-left: 16px;
  padding-right: 16px;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.MUI_light .MUI_ListItem_SubHeader_Root {
  color: rgba(var(--text-main), 0.6);
}
.MUI_dark .MUI_ListItem_SubHeader_Root {
  color: rgba(var(--text-main), 0.7);
}

.MUI_Collapse_Root {
  -webkit-transition: height var(--collapse-timeout, 300ms)
      cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    width var(--collapse-timeout, 300ms) cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: height var(--collapse-timeout, 300ms) cubic-bezier(0.4, 0, 0.2, 1)
      0ms,
    width var(--collapse-timeout, 300ms) cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  overflow: hidden;
  height: auto;
  width: auto;

  &._vertical {
    height: 0px;
    &._open {
      height: auto;
    }
  }
  &._horizontal {
    width: 0px;
    &._open {
      width: auto;
    }
  }
  & > .MUI_Collapse_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    & > .MUI_Collapse_wrapper_inner {
      width: 100%;
    }
  }
  & .MUI_ListItem_Root {
    padding-left: 32px;
  }
}

.MUI_List_Subheader_Root {
  box-sizing: border-box;
  line-height: 48px;
  list-style: none;
  color: rgba(var(--text-main), 0.7);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  padding-left: 16px;
  padding-right: 16px;
  position: sticky;
  top: 0px;
  z-index: 1;
}
