.MUI_TextField_Wrapper {
  display: inline-flex;
  vertical-align: top;
  border: 0px;
  margin: 0px;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  padding: 0px;
  background-color: inherit;
}

.MUI_TextField_Wrapper_filled {
  --webkit-flex-direction: column;
  -ms-flex-direction: column;
}
.MUI_TextField_Wrapper_standard {
  --webkit-flex-direction: column;
  -ms-flex-direction: column;
  border-bottom: 1px solid rgba(var(--text-main), 0.6);
}
.MUI_TextField_label {
  color: rgba(var(--text-main), 0.6);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.00938em;
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 1.4375em;
  padding: 0px;
  transform-origin: left top;
  white-space: nowrap;
}
.MUI_TextField_label_outlined {
  max-width: calc(100% - 24px);
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translate(14px, 16px) scale(1);
  z-index: 2;
  pointer-events: none;
}
.MUI_TextField_label_filled {
  max-width: calc(100% - 24px);
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translate(12px, 16px) scale(1);
  z-index: 1;
  pointer-events: none;
}
.MUI_TextField_label_standard {
  max-width: 100%;
  transform: translate(0px, 30px) scale(1);
}

.MUI_TextField_label_standard:has(
    + div .MUI_TextField_Input:focus,
    + div .MUI_TextField_TextArea:focus
  ),
.MUI_TextField_label_standard:has(
    + div .MUI_TextField_Input:not(:placeholder-shown),
    + div .MUI_TextField_TextArea:not(:placeholder-shown)
  ) {
  transform: translate(0px, 10px) scale(0.75);
}

.MUI_TextField_label_filled:has(
    + div .MUI_TextField_Input:focus,
    + div .MUI_TextField_TextArea:focus
  ),
.MUI_TextField_label_filled:has(
    + div .MUI_TextField_Input:not(:placeholder-shown),
    + div .MUI_TextField_TextArea:not(:placeholder-shown)
  ) {
  transform: translate(10px, 3px) scale(0.75);
}

.MUI_TextField_label_outlined:has(
    + div .MUI_TextField_Input:focus,
    + div .MUI_TextField_TextArea:focus
  ),
.MUI_TextField_label_outlined:has(
    + div .MUI_TextField_Input:not(:placeholder-shown),
    + div .MUI_TextField_TextArea:not(:placeholder-shown)
  ) {
  transform: translate(14px, -9px) scale(0.75);
  max-width: calc(133% - 32px);
  pointer-events: auto;
  user-select: none;
  padding: 0px;
}

.MUI_StartIcon,
.MUI_EndIcon {
  margin-left: 5px;
  margin-right: 5px;
}

.MUI_TextField_label:has(
    + div .MUI_TextField_Input:focus,
    + div .MUI_TextField_TextArea:focus
  ) {
  color: rgb(var(--text-primary));
}
.MUI_TextField_label_success:has(
    + div .MUI_TextField_Input:focus,
    + div .MUI_TextField_TextArea:focus
  ) {
  color: rgb(var(--text-success)) !important;
}

.MUI_TextField_label_secondary:has(
    + div .MUI_TextField_Input:focus,
    + div .MUI_TextField_TextArea:focus
  ) {
  color: rgb(var(--text-secondary));
}

.MUI_TextField_label_error:has(
    + div .MUI_TextField_Input:focus,
    + div .MUI_TextField_TextArea:focus
  ) {
  color: rgb(var(--text-error)) !important;
}
.MUI_TextField_label_standard:has(+ div .MUI_StartIcon) {
  transform: translate(30px, 30px) scale(1);
}
.MUI_TextField_label_outlined:has(+ div .MUI_StartIcon) {
  transform: translate(35px, 16px) scale(1);
}
.MUI_TextField_label_filled:has(+ div .MUI_StartIcon) {
  transform: translate(35px, 16px) scale(1);
}

.MUI_TextField_AnimationWrapper {
  background-color: rgb(var(--bg-primary));
  height: 1px;
  left: 0px;
  bottom: 0px;
  content: "\00a0";
  position: absolute;
  right: 0px;
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  pointer-events: none;
}
.MUI_TextField_AnimationWrapper_success_standard {
  background-color: rgb(var(--bg-success));
}
.MUI_TextField_AnimationWrapper_error_standard {
  background-color: rgb(var(--bg-error));
}
.MUI_TextField_AnimationStyle {
  border-bottom: 2px solid rgb(var(--text-primary));
  left: 0px;
  bottom: 0px;
  content: "\00a0";
  position: absolute;
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  pointer-events: none;
  transform: scaleX(0);
}
.MUI_TextField_Box_secondary_AnimationStyle {
  border-color: rgb(var(--bg-secondary));
}

.MUI_TextField_AnimationStyle_success {
  border-bottom-color: rgb(var(--bg-success));
}
.MUI_TextField_AnimationStyle_error {
  border-bottom-color: rgb(var(--bg-error));
}

.MUI_TextField_Box:focus-within .MUI_TextField_AnimationStyle {
  transform: scaleX(1) translateX(0px);
}
.MUI_TextField_Box {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  color: rgba(var(--text-main), 0.8);
  box-sizing: border-box;
  cursor: text;
  display: inline-flex;
  --webkit-box-align: center;
  align-items: center;
  position: relative;
}
.MUI_TextField_Box_outlined {
  border-radius: 4px;
  background: inherit;
  border-color: rgb(var(--text-main));
}
.MUI_TextField_Box_outlined:hover {
  border-color: rgb(var(--bg-primary));
}

.MUI_TextField_Box_filled {
  background-color: rgba(0, 0, 0, 0.06);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid rgb(var(--bg-primary));
}
.MUI_TextField_Box_filled:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

.MUI_TextField_Box_standard:before {
  border-bottom: 1px solid var(--bg-primary);
  background-color: transparent;
  left: 0;
  bottom: 0;
  content: "\00a0";
  position: absolute;
  right: 0;
  --webkit-transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1)
    0ms;
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  pointer-events: none;
}
.MUI_TextField_Box_standard:after {
  left: 0px;
  background-color: transparent;
  bottom: 0px;
  content: "";
  position: absolute;
  right: 0px;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  pointer-events: none;
}
.MUI_TextField_AnimationWrapper_standard {
  height: 2px;
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transform: scaleX(0);
  bottom: -1px;
}

.MUI_TextField_AnimationWrapper_secondary_standard {
  background-color: rgb(var(--bg-secondary));
}

.MUI_TextField_Box_standard:hover .MUI_TextField_AnimationWrapper,
.MUI_TextField_Box_standard:focus-within .MUI_TextField_AnimationWrapper {
  transform: scaleX(1);
}
.MUI_TextField_Box_error_standard:hover .MUI_TextField_AnimationWrapper {
  background-color: rgb(var(--bg-error));
}
.MUI_TextField_Box_secondary_filled {
  border-bottom: 1px solid rgb(var(--bg-secondary));
}

.MUI_TextField_Box_error_filled {
  border-bottom: 1px solid rgb(var(--bg-error));
}
.MUI_TextField_Box_success_filled {
  border-bottom: 1px solid rgb(var(--bg-success));
}
.MUI_TextField_Box_disabled_standard:hover .MUI_TextField_AnimationWrapper {
  height: 1px;
  background-color: rgb(0, 0, 0, 0.86);
}
.MUI_TextField_helpText {
  color: rgb(0, 0, 0, 0.6);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  text-align: left;
  margin: 3px 0px 0px;
  cursor: default;
}
.MUI_TextField_FieldSet {
  text-align: left;
  position: absolute;
  inset: -5px 0px 0px;
  margin: 0px;
  padding: 0px 8px;
  pointer-events: none;
  border-radius: inherit;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  min-width: 0%;
  border-color: rgba(var(--text-main), 0.23);
  border-width: 2px;
}
.MUI_TextField_Box:hover .MUI_TextField_FieldSet {
  border-color: rgba(var(--text-main), 0.87);
}

.MUI_TextField_Box:focus-within .MUI_TextField_FieldSet {
  border-color: rgb(var(--bg-primary));
}

.MUI_TextField_Box_secondary:focus-within .MUI_TextField_FieldSet {
  border-color: rgb(var(--bg-secondary));
}

.MUI_TextField_Box:focus-within .MUI_TextField_FieldSet:is(._error) {
  border-color: rgb(var(--bg-error-main));
}
.MUI_TextField_FieldSet:is(._success) {
  border-color: rgb(var(--bg-success));
}
.MUI_TextField_FieldSet:is(._error) {
  border-color: rgb(var(--bg-error));
}
.MUI_TextField_legend {
  float: unset;
  width: auto;
  overflow: hidden;
  display: block;
  padding: 0;
  height: 11px;
  font-size: 0.75em;
  visibility: hidden;
  max-width: 0.01px;
  --webkit-transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  white-space: nowrap;
}
.MUI_TextField_legend > span {
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  opacity: 0;
  visibility: visible;
}
.MUI_TextField_legend {
  transition: max-width 100ms cubic-bezier(0, 0, 0.2, 1) 50ms;
}

.MUI_TextField_Box:focus-within .MUI_TextField_legend,
.MUI_TextField_Input:not(:placeholder-shown) ~ fieldset > .MUI_TextField_legend,
.MUI_TextField_TextArea:not(:placeholder-shown)
  ~ fieldset
  > .MUI_TextField_legend {
  max-width: 100%;
}
