.MUI_Toggle_Root {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: 1px solid rgba(var(--text-main), 0.12);
  color: rgba(var(--text-main), 0.54);
  padding: 11px;
  font-size: 0.9375rem;
  flex-shrink: 1;
  overflow: hidden;
}

.MUI_Toggle_Root:hover {
  text-decoration: none;
  background-color: rgba(var(--text-main), 0.04);
}
.MUI_Toggle_Root_selected {
  background-color: rgba(var(--text-main), 0.08);
  color: rgb(var(--text-main));
}
.MUI_Toggle_Root_selected:hover {
  background-color: rgba(var(--text-main), 0.12);
}

/* button disabled */
.MUI_Toggle_Root:disabled {
  text-decoration: none;
  background-color: transparent;
  color: rgba(var(--text-main), 0.26);
  border: 1px solid rgba(var(--text-main), 0.12);
  cursor: default;
}

.MUI_Toggle_Root > svg {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  fill: currentColor;
  font-size: 1.5rem;
}

.MUI_Toggle_Group_Root {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.MUI_Toggle_Group_Root_small > button {
  padding: 7px;
}
.MUI_Toggle_Group_Root_large > button {
  padding: 15px;
}

.MUI_Toggle_Group_Root_primary > button {
  color: rgb(var(--bg-primary));
}
.MUI_Toggle_Group_Root:is(._primary, ._secondary, ._warning, ._error)
  > button:not(.MUI_Toggle_Root_selected):not(:disabled) {
  color: rgba(var(--text-main), 0.54);
}

.MUI_Toggle_Group_Root > button:hover:not(:disabled) {
  background-color: rgba(var(--text-main), 0.04);
}

.MUI_Toggle_Group_Root:is(._primary) > ._selected {
  background-color: rgba(var(--text-primary), 0.08);
  color: rgb(var(--bg-primary));
}
.MUI_Toggle_Group_Root:is(._secondary) > ._selected {
  background-color: rgba(var(--text-secondary), 0.08);
  color: rgb(var(--bg-secondary));
}
.MUI_Toggle_Group_Root:is(._warning) > ._selected {
  background-color: rgba(var(--text-warning), 0.08);
  color: rgb(var(--bg-warning));
}
.MUI_Toggle_Group_Root:is(._error) > ._selected {
  background-color: rgba(var(--text-error), 0.08);
  color: rgb(var(--bg-error));
}
.MUI_Toggle_Group_Root:is(._success) > ._selected {
  background-color: rgba(var(--text-success), 0.08);
  color: rgb(var(--bg-success));
}

.MUI_Toggle_Group_Root:is(._primary) > ._selected:hover:not(:disabled) {
  background-color: rgba(var(--text-primary), 0.12);
}
.MUI_Toggle_Group_Root:is(._secondary) > ._selected:hover:not(:disabled) {
  background-color: rgba(var(--text-secondary), 0.12);
}
.MUI_Toggle_Group_Root:is(._warning) > ._selected:hover:not(:disabled) {
  background-color: rgba(var(--text-warning), 0.12);
}
.MUI_Toggle_Group_Root:is(._error) > ._selected:hover:not(:disabled) {
  background-color: rgba(var(--text-error), 0.12);
}

.MUI_Toggle_Group_Root:not(._column) > button:first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.MUI_Toggle_Group_Root:not(._column) > button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.MUI_Toggle_Group_Root_column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.MUI_Toggle_Group_Root_column > button:not(:first-child) {
  border-top: none;
}
.MUI_Toggle_Group_Root:not(.MUI_Toggle_Group_Root_column)
  > button:not(:first-child) {
  border-left: none;
}

.MUI_Toggle_Group_Root_column > button:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.MUI_Toggle_Group_Root_column > button:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
