:root {
  --bg-primary: 66, 165, 245;
  --bg-primary-light: 66, 165, 245;
  --bg-primary-dark: 21, 101, 192;
  --bg-primary-main: 25, 118, 210;
  --bg-main: 255, 255, 255;
  --bg-main-light: 255, 255, 255;
  --bg-main-dark: 51, 51, 51;
  --bg-main-main: 227, 227, 227;
  --bg-secondary: 186, 104, 200;
  --bg-secondary-light: 186, 104, 200;
  --bg-secondary-dark: 123, 31, 162;
  --bg-secondary-main: 156, 39, 176;
  --bg-success: 76, 175, 80;
  --bg-success-light: 76, 175, 80;
  --bg-success-dark: 27, 94, 32;
  --bg-success-main: 46, 125, 50;
  --bg-error: 239, 83, 80;
  --bg-error-light: 239, 83, 80;
  --bg-error-dark: 198, 40, 40;
  --bg-error-main: 211, 47, 47;
  --bg-warning: 237, 108, 2;
  --bg-warning-light: 237, 108, 2;
  --bg-warning-dark: 247, 113, 2;
  --bg-warning-main: 219, 104, 9;
  --text-primary: 66, 165, 245;
  --text-primary-light: 66, 165, 245;
  --text-primary-dark: 21, 101, 192;
  --text-primary-main: 25, 118, 210;
  --text-warning: 237, 108, 2;
  --text-warning-light: 237, 108, 2;
  --text-warning-dark: 247, 113, 2;
  --text-warning-main: 219, 104, 9;
  --text-main: 0, 0, 0;
  --text-main-light: 0, 0, 0;
  --text-main-dark: 255, 255, 255;
  --text-main-main: 51, 51, 51;
  --text-secondary: 170, 0, 255;
  --text-secondary-light: 170, 0, 255;
  --text-secondary-dark: 213, 0, 249;
  --text-secondary-main: 212, 0, 250;
  --text-error: 244, 67, 54;
  --text-error-light: 244, 67, 54;
  --text-error-dark: 244, 67, 54;
  --text-error-main: 211, 47, 47;
  --text-success: 129, 199, 132;
  --text-success-light: 129, 199, 132;
  --text-success-dark: 56, 142, 60;
  --text-success-main: 102, 187, 106;
}
